/*重置*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content: ;}
abbr,acronym{border:0;}
a{text-decoration: none;}
body{overflow-x: hidden;color:#666; background-color:#fff;font: 12px/1.5 "microsoft yahei",tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}

   /*最顶头部*/
.head_one{width: 100%;height: 36px;background-color: #333333;}  
.head_one .header_one{width: 1090px;height: 36px;margin: 0 auto;}
.head_one .header_one .p_a{width: 135px;height: 35px;line-height: 35px;color: #cccccc;float: left;}
.h_div{float: left;line-height: 35px;}
.h_div .h_aa{color: #b4a078;text-decoration: underline;padding-left: 20px;background: url(../img/img_one/header/d132c2561f18f1149d566a60d05fd9b7.gif) no-repeat 0px 2px;}
.h_div_ul{width: 385px;height: 35px;float: right;position: relative;} 
.h_ul>li{float: left;padding-left: 5px;display: inline-block;padding-right: 5px;}
.h_ul .ha1{line-height: 35px;}
.h_ul>li>a{color: #cccccc;line-height: 35px;font-size: 12px;}
.h_ul>li>a:hover{color: white;}
.sp_up{width:13px;height: 6px;background:url(../img/img_one/header/aa.png) no-repeat 2px -527px;display: inline-block;}
.sp_down{width:13px;height: 6px;background:url(../img/img_one/header/aa.png) no-repeat 2px -521px;display: inline-block;}
.h_div_ul .kehu_div{background: white;width: 80px;position: absolute;left: 215px;top: 35px;border: 1px solid gainsboro;box-shadow:0px 2px 4px #808080;display: none;z-index: 50;}
.h_sp{width:0px;height:0px;border-left:7px solid #333333;border-bottom:7px solid white;border-right:7px solid #333333;position: absolute;left: 25px;top: -7px;}
.kehu_div>a{display: inline-block;color: darkgray;width: 80px;text-align: center;padding-top: 5px;border-bottom: 1px solid gainsboro;/*margin-left: 5px;*/padding-bottom: 15px;height: 20px;line-height:33px;position: relative;}
.kehu_div>a:hover{color: #b4a078;}
.kehu_a_sp{display: inline-block;width: 0px;height: 0px;margin-left: 4px;border-bottom: 5px solid white;border-left: 7px solid gray;border-right: 5px solid white;border-top:5px solid white;position: absolute;top:17px;}
.aa{width: 10px;height: 10px;position:absolute;}

.h_div_ul .xiazai_div{background: white;cursor: pointer;width:139px;position: absolute;border: 1px solid gainsboro;top:37;right:-45px;box-shadow:0px 2px 3px #808080;display: none;z-index: 50;}
.xia_sp{width:0px;height:0px;border-left:7px solid #333333;border-bottom:7px solid white;border-right:7px solid #333333;position: absolute;left: 35px;top: -7px;}
.xia_spp{width: 7px;height: 11px;background: url(../img/img_one/header/aa.png) no-repeat 0px -4189px;display: inline-block;padding-right: 5px;}
.h_div_ul .xiazai_div>b{color:#b4a078;display: inline-block;width: 139px;padding-left: 10px;}
.h_div_ul .xiazai_div>img{width: 120px;padding-left: 10px;padding-top: 10px;}

/*导航条部分*/
.nav_box{width: 100%;background-color: #ffffff;position: relative;}
.nav_box .nav_box_a{width: 1090px;height: 183px;border: 1px solid white;margin: 0 auto;/*position: relative;*/}
.nav_box_a .s_logo{width: 180px;height: 60px;background: url(../img/img_one/header/up.png) no-repeat 0px -222px;display: inline-block;position: absolute;top: 50px;left: 434px;}
.nav_inner{position: relative;z-index: 3;}
.nav_inner .nav_search{margin-top: 65px;float: right;width: 400px;z-index: 10;height: 32px;/*border: 1px solid red;*/}
#hy{width: 252px;height: 23px;margin-top: 8px;border-bottom: 1px solid #D8CEBC;font-size: 12px;border-top: none;border-left: none;border-right: none;color: #b4a078;font-weight: bold;}
.s_input .s_i{width: 22px;height: 22px;background: url(../img/img_one/header/aa.png) no-repeat 0px -5363px;display: inline-block;}

.s_aa{width: 63px;height: 31px;display: inline-block;float: right;font-size: 14px;padding-right: 20px;margin-right: 15px;position: relative;}
.s_aa .g_i{width: 22px;height: 22px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -343px;margin-top: 5px;}
.s_aa .n_i{width: 20px;height: 19px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -282px;margin-top: 5px;text-align: center;position: absolute;left: 13px;top: -5px;color: white;}

/*模糊查询样式*/
.sey-list {
  display: none;
  position: absolute;
  list-style-type: none;
  box-shadow: 1px 2px 6px;
 /* background-color: #fff;*/
  color: #333;
}
.sey-show {
  display: block;
  width: 252px;
}
.sey-hide {
  display: none;
}
.sey-item {
  cursor: pointer;
  padding: 7px;
  background: white;
}
.sey-item:hover {
  background-color:white;
  color: #bba984;
}
.sey-selected {
  background-color: #f8f5f0;
  color: #bba984;
}

/*<!--菜单列表-->*/
.nav{width: 1090px;height: 30px;margin-top: 152px;}
.nav_li{float: left;font-size: 14px;color:black;padding: 0 17px;}
.nav_a{width: 50px;height: 30px;line-height: 26px;color:black;border-bottom:4px solid white;text-align: center;font-size: 14px;display: inline-block;}

.ww{display: none;}
.nav_li_div1{width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;border-top: none;}
.nav_li_diva{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.nav_li_diva .u_a{width:850px;height: 125px;float: right;margin-right: 380px;border-top: none;}
.nav_li_diva .u_a li{float: left;margin-left: 55px;margin-top: 30px;text-align: center;}
.nav_li_diva .u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.nav_li_diva .u_a li a:hover{color: #b4a078 ;}

.nav_li_div2{border-top: none;width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.nav_li_divb{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.nav_li_divb .u_a{width:1150px;height: 125px;float: right;margin-right: 300px;border-top: none;}
.nav_li_divb .u_a li{float: left;margin-left: 80px;margin-top: 30px;text-align: center;}
.nav_li_divb .u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.nav_li_divb .u_a li a:hover{color: #b4a078 ;}

.nav_li_div3{border-top: none;width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.nav_li_divc{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.nav_li_divc .u_a{width:900px;height: 125px;float: right;margin-right: 300px;border-top: none;}
.nav_li_divc .u_a li{float: left;margin-left: 70px;margin-top: 30px;text-align: center;}
.nav_li_divc .u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.nav_li_divc .u_a li a:hover{color: #b4a078;}

.nav_li_div4{border-top: none;width:100%px;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.nav_li_divd{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.nav_li_divd .u_a{width:800px;height: 125px;float: right;margin-right: 360px;border-top: none;}
.nav_li_divd .u_a li{float: left;margin-left: 65px;margin-top: 30px;text-align: center;}
.nav_li_divd .u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.nav_li_divd .u_a li a:hover{color: #b4a078;}

.nav_li_div5{width:100%;;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;opacity: 0;filter: alpha(opacity:30);display: none;}
.nav_li_dive{border-top: none;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}

 /*<!--滚动显示导航条-->*/
.d_nav{width: 100%;height:62px;position:fixed;top: 0;box-shadow: 0px 3px 8px gray;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='gray');background:white;display: none;z-index: 100;}
.d_nav_a{width: 1090px;height: 60px;/*border: 1px solid gray;*/margin: 0 auto;position: relative;}
.d_nav_a .d_logo{width: 105px;height: 35px;background: url(../img/img_one/header/up.png) no-repeat 0 -388px;display: inline-block;position: absolute;left: 5px;top: 13px;}

.not_login{height: 60px;display: inline-block;float: left;}
.not_login>a{line-height: 59px;padding-left: 10px;padding-right: 10px;color: black;}

.d_ul{width: 800px;height: 30px;margin-top: 15px;margin-left: 126px;float: left;}
.d_ul .d_li{float: left;line-height: 30px;font-size: 14px;font-weight: bold;}
.d_ul .d_li>a{color: black;width: 70px;height: 52px;display: inline-block;text-align: center;}

.d_nav_li_div1{width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.d_nav_li_diva{background:white;border: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.d_nav_li_diva .d_u_a{width:850px;height: 125px;float: right;margin-right: 380px;border-top: none;}
.d_nav_li_diva .d_u_a li{float: left;margin-left: 55px;margin-top: 30px;text-align: center;}
.d_nav_li_diva .d_u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.d_nav_li_diva .d_u_a li a:hover{color: #b4a078 ;}

.d_nav_li_div2{border-top: none;width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.d_nav_li_divb{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.d_nav_li_divb .d_u_a{width:1150px;height: 125px;float: right;margin-right: 300px;border-top: none;}
.d_nav_li_divb .d_u_a li{float: left;margin-left: 80px;margin-top: 30px;text-align: center;}
.d_nav_li_divb .d_u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.d_nav_li_divb .d_u_a li a:hover{color: #b4a078 ;}

.d_nav_li_div3{border-top: none;width:100%;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.d_nav_li_divc{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.d_nav_li_divc .d_u_a{width:900px;height: 125px;float: right;margin-right: 300px;border-top: none;}
.d_nav_li_divc .d_u_a li{float: left;margin-left: 70px;margin-top: 30px;text-align: center;}
.d_nav_li_divc .d_u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.d_nav_li_divc .d_u_a li a:hover{color: #b4a078;}

.d_nav_li_div4{border-top: none;width:100%px;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;}
.d_nav_li_divd{background:white;border-top: none;box-shadow: 0px 2px 3px darkgray;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}
.d_nav_li_divd .d_u_a{width:800px;height: 125px;float: right;margin-right: 360px;border-top: none;}
.d_nav_li_divd .d_u_a li{float: left;margin-left: 65px;margin-top: 30px;text-align: center;}
.d_nav_li_divd .d_u_a li a{vertical-align: middle;width:40;height: 70px;display: inline-block;color: #666666;}
.d_nav_li_divd .d_u_a li a:hover{color: #b4a078;}

.d_nav_li_div5{background:white;border-top: none;width:100%;;padding-left: 50%;height: 130px;position: absolute;left: 0;bottom: -130px;opacity: 0;filter: alpha(opacity:0);display: none;border: none;}
.d_nav_li_dive{border-top: none;width: 3000px;height: 130px;float: left;position: relative;left: -2243px;display: inline-block;}

.s_aa1{width: 68px;height: 38px;display: inline-block;float: right;font-size: 14px;padding-right: 20px;margin-right: 15px;position: absolute;top: 15px;right:-50px;}
.s_aa1 .g_i1{width: 25px;height: 25px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -343px;margin-top: 5px;}
.s_aa1 .n_i1{width: 20px;height: 19px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -282px;margin-top: 5px;text-align: center;position: absolute;left: 13px;top: -5px;color: white;}


   /*中间主要内容*/
.content{width: 100%;}
.con_lunbo{width: 1090px;height: 330px;margin: 0 auto;}  
.con_lunbo>img{width: 1090px;display: inline-block;}
.con_con{width: 1090px;height:auto;margin: 0 auto;background: white;}

.con_item_one{width: 1090px;height:auto;}
.con_item_one .item_one_a{width: 1010px;height: 124px;margin-left: 40px;}
.i_span{width: 1010px;height: 16px;display: inline-block;margin-top: 50px;}
.i_span>b{padding: 0 20px;overflow: hidden;}
.i_span .hr1{width: 325px;display: inline-block;float: left;color: #dddddd;opacity: 0.5;}
.i_span .hr2{width: 350px;display: inline-block;float:right;color: #dddddd;opacity: 0.5;}
.i_span .hr3{width: 430px;display: inline-block;float:right;color: #dddddd;opacity: 0.5;}
.i_span .i_left{width: 12px;height: 12px;background:url(../img/img_one/header/aa.png) no-repeat 0 -1273px;display: inline-block;}
.i_span .i_right{width: 12px;height: 12px;background:url(../img/img_one/header/aa.png) no-repeat 0 -1273px;display: inline-block;}

.con_item_div{width: 1010px;height: 330px;margin-left: 40px;margin-bottom: 40px;}
.con_item_div .item_img{width: 580px;height: 330px;float: left;cursor: pointer;}
.con_item_div .item_img img{width: 580px;height: 330px;display: block;}
.con_item_div .item_info{width: 400px;height: 330px;float: right;}
.item_info .p1{font-size: 22px;margin-top: 20px;width: 400px;height: 30px;border-bottom: 1px solid gainsboro;padding-bottom: 15px;color: #000000;}
.item_info .p2{font-size: 18px;width: 400px;height: 18px;overflow: hidden;padding-bottom: 20px;display: inline-block;margin-top: 20px;}
.item_info .p3{font-size: 18px;width: 400px;height: 40px;overflow: hidden;padding-bottom: 20px;display: inline-block;margin-top: 20px;color: #999;}
.item_info .item_price{font-size: 14px;width: 400px;height: 40px;box-sizing: border-box;}
.item_info .item_price .p_s{color: #d4282d;font-size: 24px;}
.item_info .item_price .p_ss{margin-left: 30px;}
.item_info .item_button{width: 400px;height:50px ;margin-top: 10px;}
.item_info .item_button .ling{font-size: 18px;color: #b4a078;width: 168px;margin-right: 20px;;height: 49px;border: 1px solid #b4a078;display: inline-block;line-height: 47px;text-align: center;border-radius: 5px;}
.item_info .item_button .ling:hover{background: #f5f3ef;}
.item_info .item_button .liji:hover{opacity: 0.8;}
.item_info .item_button .liji{font-size: 18px;color: white;background: #b4a078;width: 168px;height: 49px;border: 1px solid #b4a078;display: inline-block;line-height: 47px;text-align: center;border-radius: 5px;}

.item_rules{width: 1010px;height: auto;font-size: 20px;margin-left: 40px;}
.item_rules .r_title{font-size: 20px;padding-bottom: 20px;}
.item_rules .r_p{font-size: 16px;padding-bottom: 20px;}

/*第二部分*/
.gift{width: 1025px;margin-left: 35px;}
.main{width: 1025px;height: auto;}
.main .main_a{width: 245px;height: 360px;float: left;margin-left: 8px;margin-top: 5px;border: 1px solid gainsboro;}
.main .main_a .pp{margin-left: 10px;}
.main .main_a .pp1{width: 150px;height: 30px;border-bottom: 1px solid gainsboro;display: inline-block;line-height: 30px;text-align: center;margin-left: 50px;color: red;}
.main .main_a .pp2{font-size: 12px;width: 230px;height: 30px;display: inline-block;color:gray;line-height: 30px;text-align: center;margin-left: 10px;padding-top: 5px;overflow: hidden;}
.main .main_a .pp>a{font-size: 15px;width: 230px;height: 30px;display: inline-block;color:#b4a078;line-height: 30px;text-align: center;}

.qitem{
	width:245px;
	height:245px;						
	overflow:hidden;	
	position:relative;	
	float:left;
	cursor:hand; cursor:pointer;
}
.a1{background: url(../img/img_one/2.png) no-repeat;display: block;}
.a2{background: url(../img/img_one/tupian/2.png) no-repeat;display: block;}
.a3{background: url(../img/img_one/tupian/3.png) no-repeat;display: block;}
.a4{background: url(../img/img_one/tupian/4.png) no-repeat;display: block;}
.a5{background: url(../img/img_one/tupian/5.png) no-repeat;display: block;}
.a6{background: url(../img/img_one/tupian/6.png) no-repeat;display: block;}
.a7{background: url(../img/img_one/tupian/7.png) no-repeat;display: block;}
.a8{background: url(../img/img_one/tupian/8.png) no-repeat;display: block;}
.a9{background: url(../img/img_one/tupian/9.png) no-repeat;display: block;}
.a10{background: url(../img/img_one/tupian/10.png) no-repeat;display: block;}
.a11{background: url(../img/img_one/tupian/11.png) no-repeat;display: block;}
.a12{background: url(../img/img_one/tupian/12.png) no-repeat;display: block;}

.topLeft, .topRight, .bottomLeft, .bottomRight {
	position:absolute;
	background-repeat: no-repeat; 
	float:left;
}
.topLeft {
	background-position: top left; 	
} 
.topRight {
	background-position: top right; 
} 
.bottomLeft {
	background-position: bottom left; 
} 
.bottomRight {
	background-position: bottom right; 
}

/*规格2*/
.item_ruless{width: 1010px;height: 120px;clear: both;margin-left: 43px;padding-top: 100px;}
.item_ruless .r_pp{font-size: 12px;text-align: center;}
.item_ruless .r_pp1{color:darkgray;text-align: center;padding-top: 15px;}

/*<!--最底部-->*/
.footer1{width:100%;}
.footer1 .footer_a{width: 1100px;height:240px;margin: 0 auto;}
.footer1 .footer_a .f_l{width: 350px;height:204px;float: left;margin-left: 5px;border-right: 1px solid darkgray;}
.footer1 .footer_a .f_l>h3{text-align: center;margin-top: 30px;color: #000000;}
.footer1 .footer_a .f_l .f_p1{text-align: center;margin-top: 15px;font-size: 26px;color: #000000;}
.footer1 .footer_a .f_l .f_p2{text-align: center;font-size: 14px;}
.footer1 .footer_a .f_l .f_p3{text-align: center;margin-top: 15px;font-size: 14px;margin-top: 25px;}
.footer1 .footer_a .f_l .f_p3>a{width: 85px;height: 20px;border: 1px solid black;display: inline-block;line-height: 20px;color: black;}

.footer1 .footer_a .f_c{width: 350px;height:204px;float: left;margin-left: 5px;border-right: 1px solid darkgray;}
.footer1 .footer_a .f_c>h3{color: #000000;text-align: center;margin-top: 30px;margin-bottom: 10px;}
.footer1 .footer_a .f_c .f_p4{font-size:13px ;margin-left: 40px;width: 287px;height: 80px;display: inline-block;overflow: hidden;}
.footer1 .footer_a .f_c .f_p5{float: left;}
.footer1 .footer_a .f_c .guanzhu{width: 288px;height: 33px;display: block;margin-left: 50px;line-height: 33px;}
.footer1 .footer_a .f_c .guanzhu .f_guanzhu{width: 150px;height: 33px;display: block;margin-left: 65px;}
.footer1 .footer_a .f_c .guanzhu .f_guanzhu .i1{margin-left: 10px;width: 32px;height: 32px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -6941px;}
.footer1 .footer_a .f_c .guanzhu .f_guanzhu .i2{margin-left: 10px;width: 32px;height: 32px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -6899px;}
.footer1 .footer_a .f_c .guanzhu .f_guanzhu .i3{margin-left: 10px;width: 32px;height: 32px;display: inline-block;background: url(../img/img_one/header/aa.png) no-repeat 0 -6857px;}

.footer1 .footer_a .f_r{width: 350px;height:204px;float: left;margin-left: 5px;}
.footer1 .footer_a .f_r>h3{color: #000000;text-align: center;margin-top: 30px;margin-bottom: 10px;}
.footer1 .footer_a .f_r .f_r_img{text-align: center;}
.footer1 .footer_a .f_r>p{color: #b4a078;text-align: center;font-size:13px ;padding-top: 10px;}

.foo_two{width: 100%;height: 200px;background: #414141;}
.foo_two .foo_div{width:1090px ;height: 200px;margin: 0 auto;}
.foo_two .foo_div>ul{width: 100%;height:100;border-bottom: 1px solid gray;display: inline-block;padding-bottom: 20px;}
.foo_two .foo_div .div1{margin-top: 20px;margin-left: 20px;font-size: 18px;color: white;width:30%;height: 60px;line-height: 50px;float: left;text-align: center;}
.foo_two .foo_div .ff_i1{float: left;margin-left: 50px;width: 51px;height: 51px;background: url(../img/img_one/header/aa.png) no-repeat 0 -1953px;display: inline-block;margin-top: 5px;}
.foo_two .foo_div .ff_i2{float: left;margin-left: 50px;width: 51px;height: 51px;background: url(../img/img_one/header/aa.png) no-repeat 0 -2014px;display: inline-block;margin-top: 5px;}
.foo_two .foo_div .ff_i3{float: left;margin-left: 50px;width: 51px;height: 51px;background: url(../img/img_one/header/aa.png) no-repeat 0 -2075px;display: inline-block;margin-top: 5px;}
.foo_two .foo_div .ff_sp{float: left;margin-top: 5px;height: 51px;display: inline-block;margin-left: 20px;}
.foo_two .foo_div .lianxi{width: 1090px;height: 60px;margin-top: 10px;text-align: center;}
.foo_two .foo_div .lianxi>a{font-size: 12px;color:darkgray;padding-left: 10px;}
.foo_two .foo_div .lianxi>a:hover{text-decoration: underline;}
.foo_two .foo_div .lianxi>b{padding-left: 10px;}
.foo_two .foo_div .lianxi>p{padding-top: 10px;}
.foo_two .foo_div .lianxi .ii{float: right;width: 60px;height: 70px;display: inline-block;margin-top: -27px;margin-right: 265px;}
.foo_two .foo_div .lianxi .ii img{width: 36px;height: 39px;display: inline-block;}

/*侧边广告*/
.cebian{width: 60px;height: 405px;position: fixed;right: 50%;margin-right: -626px;top:250px;}
.c_a1{width: 60px;height: 60px;display: inline-block;background: white;}
.c_a1 .aai{width: 22px;height: 26px;background: url(../img/img_one/fixedtool-scb5ad82445-c2018f4992.png) no-repeat 0 -156px;display: inline-block;margin-left: 17px;margin-top: 5px;}
.c_a1>p{margin-left: 5px;font-size: 12px;color:gray;}
.c_a2{width: 60px;height: 60px;display: inline-block;background: white;}
.c_a2 .aai2{width: 16px;height: 26px;background: url(../img/img_one/fixedtool-scb5ad82445-c2018f4992.png) no-repeat 0 0px;display: inline-block;margin-left: 20px;margin-top: 5px;}
.c_a2>p{margin-left: 5px;font-size: 12px;color:gray;}
.c_a3{width: 60px;height: 55px;display: inline-block;background: white;}
.c_a3 .aai3{width: 22px;height: 22px;background: url(../img/img_one/fixedtool-scb5ad82445-c2018f4992.png) no-repeat 0 -72px;display: inline-block;margin-left: 19px;margin-top: 5px;}
.c_a3>p{margin-left: 5px;font-size: 12px;color:gray;}
.c_a4{width: 60px;height: 55px;background: gray;display: inline-block;}
.c_a44{display: none;width: 60px;height: 55px;}
.c_a4 .aai4{width: 9px;height: 5px;background: url(../img/img_one/fixedtool-scb5ad82445-c2018f4992.png) no-repeat 0 -228px;display: inline-block;margin-left: 23px;margin-top: 10px;}
.c_a4>p{margin-left: 5px;font-size: 12px;color:gray;color: white;margin-top: 5px;}
.c_a1:hover{background: wheat;}
.c_a2:hover{background: wheat;}
.c_a3:hover{background: wheat;}



