/*banner开始*/
#main_ad > .carousel-inner > .item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  #main_ad > .carousel-inner > .item {
    height: 410px;
  }
}
#main_ad > .carousel-inner > .item > img {
  width: 100%;
}
/*banner结束*/
/*项目列表*/
#project {
	background: #e8e8e8;
}
#project .container .row h4 {
	padding-top: 10px;
	line-height: 0px;
}

/*h3公共黄颜色*/
h3.col_f7941c {
	color: #f98901;
	margin-bottom: 35px;
}

/*我们能做什么开始*/
.do_what {
	background: #f3f1f2;
	padding: 3px;
}
.do_what img {
	display: block;
	margin: 20px auto;
}
.margin_center {
	margin: 0 auto;
}
@media (max-width: 768px) {
  .do_what img {
  	display: block;
  	margin: 0 auto;
  	width: 270px;
  	height: 270px;
  	margin-bottom: 20px;
  	
  }
}
/*我们能做什么结束*/

/*项目服务开始*/
.pro_sevice {
	padding-bottom: 30px;
	color: #666;
}
.pro_sevice .mb20 {
	margin-bottom: 40px;
}
.pro_sevice a {
	color: #151515;
	font-weight: 400;
	font-family: "微软雅黑";
	font-size: 16px;
}
.pro_sevice .fz13 {
	font-size: 12px;
}
.pro_sevice .bor {
	border:4px solid #e6e6e6;
}
.pro_sevice .bor:hover {
	border:4px solid #f7941c;
}
.pro_sevice h4 {
	color: #666;
	font-size: 14px;
	margin: 5px 0;
	padding: 0;
}
.pro_sevice a {
	font-size: 12px;
}
.pro_sevice h4 a {
	font-size: 14px;
	font-weight: 800;
}
@media (max-width: 768px) {
  .pro_sevice .row {
  	text-align: center;
  }
  .pro_sevice img {
  	display: block;
  	margin: 0 auto;
  }
  .pro_sevice h4 {
  	line-height: 24px;
  }
  .pro_sevice {
	padding-bottom: 0px;
}
  
}

/*项目服务结束*/

/*我们的客户开始*/
#out_cuscome {
	
	background: #f6f4f5;
	padding-bottom: 35px;
}
.box div{
	border: 1px solid #fff;
	text-align: center;
}
.box div:hover{
	border: 1px solid #f7941c;
}
.box h4 {
	font-weight: bold;
	padding: 10px;
}
.box a {
	color: #333;
}
.box p {
	padding-bottom: 20px;
}
.img_big {
	display: block;
	/*width: 300px;*/
	height: 180px;
	background: #fff;
	border:1px solid #cccccc;
	margin: 15px auto;
}
.box img {
	display: block;
	margin: 0 auto;
}
/*我们的客户结束*/


#expand li {
	text-decoration: none;
	line-height: 34px;
	border-bottom: 1px dashed #cccccc;
}
#expand h2 {
	padding-top: 20px;
	font-size: 16px;
	text-indent: 40px;
	font-weight: 600;
}
#expand h2 a {
	font-size: 12px;
	color: #666;
}
#expand li a {
	color: #333333;
}
#expand ul {
	margin-bottom: 40px;
}

