body {
	background: #f6f4f5;
	font-family: "微软雅黑";
}
.main_bg {
	background: #fff;
	padding: 40px;
}
.web_set_row {
	margin: 50px 0;
	border-bottom: 1px dashed #666;
}
.main_bg img {
	margin-bottom: 15px;
}
@media (max-width: 992px) {
 .main_bg img {
 	display: block;
 	margin: 0 auto;
 }
}
@media (max-width: 768px) {
 .main_bg img {
 	display: block;
 	width: 300px;
 	height: 300px;
 }
}
#share {
	border-bottom: 1px solid #d6d6d6;
	padding: 5px;
}
#share a {
	margin-right: 5px;
}
.share_icon {
	padding-top: 13px;
}
/*网站托管开始*/
.web_hosting_cont {
	height: 450px;
	/*background: #383a46;*/
	background: url(../img/website_hosting/hosting_01.jpg) no-repeat 50% 50% #383a46;
}
.web_hosting_cont ul {
	 padding-top: 30px;
}
.web_hosting_cont ul.fl {
	padding-left: 140px;
}
.web_hosting_cont ul span {
	color: #820c25;
	font-weight: 800;
}
.web_hosting_cont ul.fr {
	padding-right: 130px;
}
.web_hosting_cont h3 {
	text-align: center;
	color: #fff;
}
.web_hosting_cont p{
	text-align: center;
	color: #8d8e8e;
	font-size: 12px;
}
.web_hosting_cont li {
	list-style: none;
	color: #b0b0b1;
}
.what_img {
	display: block;
	width: 100%;
	height: 100%;
}
@media (max-width: 768px) {
 .what_img {
 	display: block;
	width: 100%;
	height: 100%;
 }
 .web_hosting {
 	text-align: center;
 }
}
@media (max-width: 992px) {
	.web_hosting_cont {
		height: auto;
		background: url(../img/website_hosting/hosting_01.jpg) no-repeat 50% 20% #383a46;
	}
	.web_hosting_cont ul {
		margin: 0 auto;
	}
 	.web_hosting_cont ul.fl {
	 	padding: 0;
		padding-top: 300px;
		float: none;
    }
    .web_hosting_cont ul.fr {
	 	padding: 0;
	 	float: none;
    }
}
/*网站托管结束*/
/*网站优化咨询开始*/
#youhua {
	background: #fff;
	padding-bottom: 30px;
}
#youhua h3 {
	color: #f7941c;
	margin-bottom: 20px;
}
.youhua_msg li {
	text-decoration: none;
	line-height: 38px;
	border-bottom: 1px dashed #999;
}
.youhua_msg li a {
	color: #333333;
	text-decoration: none;
}
.youhua_msg li a span {
	float: right;
}
@media (max-width: 768px) {
 .xs-hidde {
 	display: none;
 }
}

/*网站优化咨询结束*/
/*网站成功案例开始*/
#website_suceess {
	background: #fff;
}
#website_suceess h3 {
	color: #f7941c;
	margin-bottom: 20px;
}
#website_suceess  img {
	width: 220px;
	height: 180px;
	border: 1px solid #d6d6d6;
}
.suceess_div {
	position: relative;
	margin: 20px 0;
}
.msg {
	position: absolute;
	left: 14px;
	bottom: -9px;
	width: 220px;
	padding: 7px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.layer {
	position: absolute;
	left: 14px;
	bottom: 0;
	width: 220px;
	height: 180px;
	background: #f7941c;
	text-align: center;
	line-height: 180px;
	color: #fff;
	font-size: 22px;
	display: none;
}
.suceess_div:hover .layer {
	display: block;
}
/*网站成功案例结束*/