body {
	background: #f6f4f5;
}
.main_bg {
	background: #fff;
	
}
.web_set_row {
}
.main_bg img {
	margin-bottom: 15px;
}
@media (max-width: 992px) {
 .main_bg img {
 	display: block;
 	margin: 0 auto;
 }
}
@media (max-width: 768px) {
 .main_bg img {
 	display: block;
 	width: 111%;
 	height: 111%;
 }
}
#share {
	border-bottom: 1px solid #d6d6d6;
	padding: 5px;
}
#share a {
	margin-right: 5px;
}
.share_icon {
	padding-top: 13px;
}

.seo_case_bg {
	background: #fff;
}
.seo_case_row {
	width: 100%;
}
.seo_case_row img {
	width: 100%;
}
.small {
	width: 98%;
}
/*网站优化咨询开始*/
#youhua {
	background: #fff;
	padding-bottom: 30px;
}
#youhua h3 {
	color: #f7941c;
	margin-bottom: 20px;
}
.youhua_msg li {
	text-decoration: none;
	line-height: 38px;
	border-bottom: 1px dashed #999;
}
.youhua_msg li a {
	color: #333333;
	text-decoration: none;
}
.youhua_msg li a span {
	float: right;
}
@media (max-width: 768px) {
 .xs-hidde {
 	display: none;
 }
}
/*1233*/
.main_bg {
}
.web_set_row {
	width: 100%;
}
/*网站优化咨询结束*/
/*网站成功案例开始*/
#website_suceess {
	background: #fff;
}
#website_suceess h3 {
	color: #f7941c;
	margin-bottom: 20px;
}
#website_suceess  img {
	width: 220px;
	height: 180px;
	border: 1px solid #d6d6d6;
}
.suceess_div {
	position: relative;
	margin: 20px 0;
}
.msg {
	position: absolute;
	left: 14px;
	bottom: -9px;
	width: 220px;
	padding: 7px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.layer {
	position: absolute;
	left: 14px;
	bottom: 0;
	width: 220px;
	height: 180px;
	background: #f7941c;
	text-align: center;
	line-height: 180px;
	color: #fff;
	font-size: 22px;
	display: none;
}
.suceess_div:hover .layer {
	display: block;
}

/*网站成功案例结束*/