body {
  overflow: auto;
  background-color: #fff;
}
.integral {
  width: 100%;
}
.integral .integralInfo {
  width: 100%;
  height: 5rem;
  background: #ff5858;
}
.integral .integralInfo .score {
  height: 3.4rem;
  line-height: 3.4rem;
  padding-left: 0.72rem;
  font-size: 1.6rem;
  color: #fff;
}
.integral .integralInfo .score span {
  font-size: 0.56rem;
}
.integral .integralInfo .scoreEffect {
  position: relative;
  height: 1.6rem;
  line-height: 1.6rem;
  background: rgba(0, 0, 0, 0.3);
}
.integral .integralInfo .scoreEffect .scoreEffectL,
.integral .integralInfo .scoreEffect .scoreEffectR {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 0.56rem;
  padding-left: 0.48rem;
  box-sizing: border-box;
}
.integral .integralInfo .scoreEffect .scoreEffectL a,
.integral .integralInfo .scoreEffect .scoreEffectR a {
  color: #fff;
}
.integral .integralInfo .scoreEffect .scoreEffectL {
  background: url("../img/05My-integral/receive.png") 33% 13px no-repeat;
  background-size: 14px 14px;
}
.integral .integralInfo .scoreEffect .scoreEffectR {
  background: url("../img/05My-integral/pay.png") 33% 13px no-repeat;
  background-size: 14px 14px;
}
.integral .integralInfo .scoreEffect:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 1.2rem;
  left: 50%;
  top: 0.2rem;
  background: #fff;
}
.integral #scorelist {
  background: #fff;
  overflow: hidden;
}
.integral #scorelist li {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 0.56rem 0.72rem;
  margin: 0;
  box-sizing: border-box;
}
.integral #scorelist li p:nth-of-type(1) {
  float: left;
  width: 62.5%;
  overflow: hidden;
}
.integral #scorelist li p:nth-of-type(1) span {
  width: 100%;
  display: inline-block;
}
.integral #scorelist li p:nth-of-type(1) span:nth-of-type(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.56rem;
  color: #333;
}
.integral #scorelist li p:nth-of-type(1) span:nth-of-type(2) {
  color: #a0a0a0;
  font-size: 0.48rem;
}
.integral #scorelist li p:nth-of-type(2) {
  float: right;
  font-size: 0.48rem;
  color: #a0a0a0;
  line-height: 1.6rem;
}
.integral #scorelist li p:nth-of-type(2) span em {
  font-style: normal;
  font-size: 0.72rem;
  color: #64b715;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
