body {
  background: #eee;
}
/*顶部下载APP*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1.8rem;
}
#downApp {
  background: 96% center no-repeat #000000;
  color: #fff;
}
#downApp #close {
  width: 0.66rem;
  height: 0.62rem;
}
#downApp div {
  height: 100%;
  line-height: 1.8rem;
  margin-top: 0.2rem;
}
#downApp div img {
  width: 1.62rem;
  height: 1.62rem;
}
#downApp div ul {
  float: right;
  height: 100%;
  margin-top: 0.2rem;
  margin-left: 0.94rem;
}
#downApp div ul li {
  line-height: 0.72rem;
}
#downApp p {
  width: 20%;
  height: 1.02rem;
  line-height: 1.02rem;
  text-align: center;
  background: #fff;
  border-radius: 0.16rem;
  color: #e60012;
  font-size: 0.56rem;
}
.header {
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
}
.header .upperLevel {
  display: block;
  margin-top: 0.24rem;
  margin-left: 0.42rem;
}
.header .upperLevel img {
  width: 0.52rem;
}
.header h1 {
  font-weight: 400;
  font-size: 0.78rem;
  white-space: nowrap;
  overflow: hidden;
}
.header .menu {
  display: block;
  margin-top: 0.24rem;
  margin-right: 0.38rem;
}
.header .menu img {
  width: 0.9rem;
}
#nav {
  display: block;
  width: 100%;
  background: #666;
  height: 2rem;
  overflow: hidden;
}
#nav li {
  float: left;
  width: 25%;
}
#nav li a {
  display: block;
  height: 100%;
  text-align: center;
  padding-top: 1.2rem;
  color: #fff;
  font-size: 0.58rem;
  box-sizing: border-box;
}
#nav li:nth-of-type(1) {
  background: url("../img/01index/01top/homec.png") no-repeat center 0.36rem;
  background-size: auto 0.8rem;
}
#nav li:nth-of-type(2) {
  background: url("../img/01index/01top/seoulc.png") no-repeat center 0.36rem;
  background-size: auto 0.8rem;
}
#nav li:nth-of-type(3) {
  background: url("../img/01index/01top/ico-shopcartc.png") no-repeat center 0.36rem;
  background-size: auto 0.8rem;
}
#nav li:nth-of-type(4) {
  background: #555555 url("../img/01index/01top/ico-personc.png") no-repeat center 0.36rem;
  background-size: auto 0.8rem;
}
.person {
  position: relative;
  height: 3.6rem;
  padding: 0.46rem;
  background: url("../img/01index/02middle/top-backgroundc.jpg") no-repeat center center;
  box-sizing: border-box;
  color: #fff;
}
.person a {
  color: #fff;
}
.person dl dt {
  float: left;
}
.person dl dt img {
  width: 2.12rem;
  height: 2.14rem;
}
.person dl dd {
  margin-left: 2.54rem;
}
.person dl dd p {
  width: 100%;
  font-size: 0.62rem;
}
.person dl dd span {
  display: inline-block;
  padding: 0 0.26rem;
  margin-top: 0.24rem;
  line-height: 1rem;
  font-size: 0.54rem;
  background-color: #bd2302;
  border-radius: 0.4rem;
}
.person #management {
  position: absolute;
  right: 0.52rem;
  bottom: 0.5rem;
  font-style: normal;
  font-size: 0.54rem;
}
.person #manageInfo {
  position: absolute;
  top: 0.52rem;
  right: 0.46rem;
}
.person #manageInfo img {
  width: 0.9rem;
  height: 0.9rem;
}
.userInfo .userlink {
  position: relative;
  display: block;
  text-align: left;
  padding: 0.32rem 0.74rem;
  font-size: 0.64rem;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.userInfo .userlink em {
  position: absolute;
  display: block;
  top: 0.52rem;
  right: 0.8rem;
  font-size: 0.24rem;
  font-style: normal;
  color: #a0a0a0;
}
.userInfo .userlink em:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 100%;
  top: -0.1rem;
  right: -0.5rem;
  background: url("../img/01index/02middle/gray-open.png") center center no-repeat;
  background-size: 8px auto;
}
.userInfo .userCont {
  overflow: hidden;
  padding: 0.56rem 0 0.46rem;
}
.userInfo .userCont a {
  float: left;
  width: 33%;
  text-align: center;
}
.userInfo .userCont a img {
  width: 26px;
}
.userInfo .userCont a p {
  padding-top: 0.14rem;
  font-size: 0.52rem;
  color: #333;
}
.userInfo .userlist {
  background-color: #fff;
}
.userInfo .userWallet {
  margin-top: 0.32rem;
  background-color: #fff;
}
.userInfo .userWallet .userCont a {
  width: 25%;
  font-size: 0.52rem;
}
.userInfo .userWallet .userCont a b {
  line-height: 1.12rem;
  color: #333;
  font-weight: 700;
  font-size: 0.68rem;
}
.userInfo .userWallet .userCont a b img {
  vertical-align: top;
  width: 23px;
}
.userInfo .userWallet .userCont a p {
  padding-top: 0.28rem;
  font-size: 0.56rem;
  color: #333;
}
footer {
  border-top: 1px solid #ddd;
  padding: 0.32rem 0 0.48rem;
  background: #f8f8f8;
}
footer .foologin {
  position: relative;
  padding: 0 0.6rem;
  line-height: 2.5em;
  text-align: right;
  color: #666;
}
footer .foologin span {
  position: absolute;
  left: 15px;
  color: #a0a0a0;
}
footer .foologin span a {
  display: inline-block;
  line-height: 0.44rem;
}
footer .foologin span em {
  margin: 0 0.4rem;
}
footer .foologin p a {
  display: inline-block;
  line-height: 22px;
  padding: 1px 3px;
  margin: 0 5px;
}
footer .version {
  padding-top: 0.2rem;
  text-align: center;
  color: #a0a0a0;
}
footer .version p:nth-of-type(1) {
  margin-top: 0.12rem;
}
