html .el-tabs {
    width: 100%;
}
.search-wrap>header {
    background-color: #fff;
    border-bottom: 1px solid #dbe2e8;
}

.search-wrap>header>.inner {
    margin: 0 auto;
    box-sizing: border-box;
}
.search-wrap>header>.inner .search-form-wrap {
    padding: 40px 0;
}
.search-wrap>header>.inner .search-form-wrap .search-form:after {
    content: " ";
    overflow: hidden;
    clear: both;
    font-size: 0;
    display: block;
}

.search-wrap>header>.inner .search-tabs {
    float: left;
}

.search-wrap>header>.inner:after {
    content: " ";
    overflow: hidden;
    clear: both;
    font-size: 0;
    display: block;
}
.el-tabs__header {
    border-bottom: 1px solid #dbe2e8;
    padding: 0;
    position: relative;
    margin: 0 0 15px;
}
.search-wrap>header>.inner .search-tabs .el-tabs__header {
    border-bottom: none;
    margin-bottom: 0;
}
.el-tabs__nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;
}
.el-tabs__nav-scroll {
    overflow: hidden;
}
html .el-tabs__header .el-tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: none;
}
.el-tabs__nav {
    white-space: nowrap;
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    float: left;
}
html .el-tabs__header .el-tabs__active-bar {
    background-color: #292525;
}
.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #292929;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
html .el-tabs__header .el-tabs__nav .el-tabs__item.is-active {
    color: #292525;
}
html .el-tabs__header .el-tabs__nav .el-tabs__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #9b9b9b;
}
.el-tabs__item.is-active {
    color: #292929;
}
.el-tabs__item {
    padding: 0 16px;
    height: 42px;
    box-sizing: border-box;
    line-height: 42px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    color: #8492a6;
    position: relative;
}
html .el-input__inner, html .el-textarea__inner, input.text, textarea.text {
    outline: 0;
    border: 1px solid rgba(0,0,0,.12);
    background-color: #fff;
    padding: 25px 30px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.375;
    color: #292525;
    font-weight: 400;
    border-radius: 0;
}
button, input, select, textarea {
    margin: 0;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
}
button, input {
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, hr, input {
    overflow: visible;
}




@media(min-width: 768px){
.search-wrap>header {
    margin-bottom: 30px;
}
.search-wrap>header>.inner {
    width: 1110px;
    padding-right: 350px;
}
.search-wrap>header>.inner .search-form-wrap {
    width: 760px;
    padding: 65px 0;
}
.search-wrap>header>.inner .search-form-wrap .search-form .text {
    float: left;
    border: 2px solid #292525;
    width: 620px;
}
.search-wrap>header>.inner .search-form-wrap .search-form .btn {
    margin-left: -2px;
    border: 2px solid #292525;
    background-color: #fff;
    color: #292525;
    border-radius: 0;
    height: 76px;
    line-height: 76px;
    padding: 0;
    width: 140px;
    font-size: 16px;
    font-size: 1rem;
    float: left;
}
.search-wrap>header>.inner .search-tabs {
    width: 760px;
}
.search-wrap>header>.inner .search-tabs .el-tabs__header {
    display: block;
}
.search-wrap>header>.inner .search-tabs .el-tabs__header .el-tabs__nav {
    float: left;
}
.search-wrap>header>.inner .search-tabs .el-tabs__header .el-tabs__nav .el-tabs__item {
    padding: 0 25px;
}

}
@media(max-width: 768px){
.search-wrap>header {
    margin-bottom: 15px;
}
.search-wrap>header>.inner .search-form-wrap {
    padding-left: 15px;
    padding-right: 15px;
}
.search-wrap>header>.inner .search-form-wrap .search-form .text {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #292525;
}
html .el-input__inner, html .el-textarea__inner, input.text, textarea.text {
    padding: 16px 21px;
}
.search-wrap>header>.inner .search-form-wrap .search-form .btn {
    border: 1px solid #292525;
    background-color: #292525;
    color: #fff;
    border-radius: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
}
.btn {
    padding: 7px 24px;
}
}