#content{
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}
#one_part{
	width: 100%;
	background: #f9f8f5;
}
#content_center{
	width: 1100px;
	margin: 0 auto;
}
#content .yanxuan{
	width: 400px;
	padding: 60px 0;
	margin: 0 auto;
	text-align: center;
}
#content .yanxuan .yan{
	margin-left: 50px;
	margin-bottom: 20px;
}
#content .yanxuan .xuan{
	margin-right: 50px;
}
#content .yanxuan .yan p,#content .yanxuan .xuan p{
	font-size: 26px;
	color: #333;
	margin-bottom: 5px;
}
#content .yanxuan>p{
	clear: both;
	color: #333;
	font-size: 16px;
	margin-bottom: 20px;
}
#content .yanxuan>p b{
	color: #B3A07D;
}
#content .yanxuan>i{
	display: block;
	width: 13px;
	height: 7px;
	background: url(../img/index/header/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat 0 -1343px;
	margin: 0 auto;
}
#content .TVshow video{
	width: 1100px;
	margin-bottom: 120px;
	border: none;
}
#content .i_know{
	width: 1000px;
	overflow: auto;
	margin: 0 auto;
	padding-bottom: 80px;
}
#content .i_know h3{
	font-size: 30px;
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}
#content .i_know>div{
	float: left;
	margin: 0 50px;
}
#content .i_know>div img{
	margin: 0 5px 15px;
}
#content .i_know p{
	text-align: center;
	font-size: 14px;
}
#content .i_know p b{
	color: #d4282d;
}
#content .two_part{
	width: 1100px;
	margin: 0 auto;
}
#content .two_part>i{
	display: block;
	width: 13px;
	height: 7px;
	background: url(../img/index/header/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat 0 -1343px;
	margin: 70px auto 85px;
}
#content .two_part h3{
	font-size: 30px;
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}
#content .two_part p{
	text-align: center;
	line-height: 25px;
	font-size: 14px;
}
#content .two_part p b{
	color: #D4282D;
}
#content .two_part img{
	display: block;
	width: 960px;
	margin: 30px auto 0;
}
.three_img{
	width: 960px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.three_img #only{
	width: 2880px;
	position: absolute;
	top: 0;
	left: 0;
}
.three_img #only li{
	float: left;
}
.three_img #prev{
	width: 28px;
	height: 44px;
	background: url(../img/index/header/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat 0 -2959px;
	position: absolute;
	top: 140px;
	left: 30px;
}
.three_img #next{
	width: 28px;
	height: 44px;
	background: url(../img/index/header/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat 0 -4828px;
	position: absolute;
	top: 140px;
	right: 30px;
}
.three_img #prev,.three_img #next{
	cursor: pointer;
}
#content .two_part .last_img{
	margin-bottom: 100px;
}




