blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,
ol,p,pre, td,textarea,th,ul {margin: 0; padding: 0; list-style: none;border: none;}
.fl{float:left;}
.fr{float:right;}
.mg{margin:0;}
.lh30{line-height:30px;}
.top-nav{height:30px;background:#333;}
.t-con-nav{width:1110px;margin:0 auto;}
/*顶部左边导航*/
.nav-left li{float:left;}
.nav-left .li1{font-size:12px;color:#fff;height:30px;margin-right:26px;}
.nav-left .li2{height:30px;padding-left:24px;background:url(../img/d132c2561f18f1149d566a60d05fd9b7.gif) no-repeat 0 center;}
.nav-left .li2 a{vertical-align: top;color:#b4a078;font-size:12px;}
.nav-left .li2 a:hover{text-decoration:none;}
/*顶部右边导航*/
.nav-right{height:30px;line-height: 30px;}
.nav-right span{margin:0 8px;font-size:14px;color:#5c5c5c;}
.nav-right .li a{color:#ccc;text-decoration:none;font-size:12px;}
.login{margin-right:15px;}
.reg{margin-right:7px;}
.custom-server{position:relative;padding-right:18px;}
.p-custom-server{z-index: 666;display: none;position:absolute;width:90px;height:153px;left:-10px;top:30px;padding:14px 13px 20px 13px;
background:#fff url(../img/jianjiao.png) no-repeat 0 0;box-sizing:border-box;box-shadow: 0 0 3px 0 rgba(0,0,0,.2);text-align: center;}
.p-custom-server span{display:block;width:100%;height:1px;background:#ddd;margin-left:0;}
.p-tel{position:relative;}
.p-tel .arrow-right{position:absolute;right:-15px;top:12px;;width:0;height:0;display: inline-block;border-top: 4px solid #fff;border-right: 4px solid #fff;
border-bottom: 4px solid #fff;border-left: 4px solid #999;border-style:solid;}
.p-tel .tel{display:none;width: 110px;height: 57px;position:absolute;left:70px;top:0;background:#fff;box-shadow: 0 0 3px 0 rgba(0,0,0,.2);}
.p-tel .tel span{font-size: 12px;display: block;clear:both;height:12px;line-height:12px;background:#fff;margin-top:10px;}
.nav-right .arrow-up{background:url(../img/up.png) no-repeat right center;}
.nav-right .arrow-down{background: url(../img/down.fw.png) no-repeat right center;}
.app-download{position:relative;padding-left:12px;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat 0 -4200px;}
.app-download .code{z-index: 9999;display:none;padding: 21px;padding-bottom:42px;background:#fff url(../img/jianjiao.png) no-repeat 0 0;background-size: 100% 15%;
position: absolute;left: -88px;top: 30px;width: 169px;height: 200px;box-shadow: 0 0 3px 0 rgba(0,0,0,.2);box-sizing: border-box;}
.code img{width:100%;height:100%;}
.code p{display: block;text-align: center;line-height: 1;color: #b4a078;font-size:12px;}
/*搜索框部分*/
.search{clear:both;margin-top:40px;}
.logo{margin-right:126px;display:inline-block;width:180px;height:60px;background:url(../img/header-s63686fd389-4827c33dfe.png) no-repeat 0 -223px;}
.s-search-info {vertical-align: top;margin-top:20px;}
.s-search-info .input-text{width:230px;border-bottom:1px solid #d8cebc; }
.s-search-info .btn{width:22px;height:22px;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat -1px -5332px;}
.s-search-info form{position:relative;}
.history-search-info{z-index: 888;background:#fff;display:none;position:absolute;left:0;top:20px;width:230px;border:1px solid #e8e8e8;}
.history-search-info li,.history-search-info p{padding-left:16px ;box-sizing:border-box;line-height:28px;font-size:14px;}
.history-search-info li:hover{background:#f8f5f0;}
.history-search-info a{text-decoration: none;color:#333;font-size:14px;}
.cart{margin-left:18px;position:relative;margin-right:6px;}
.cart a{width:30px;height:22px;display:inline-block;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat -1px -312px;}
.cart span{text-align:center;color:#fff;font-size:12px;line-height:20px;position: absolute;right:-5px;top:-11px;display: block;width:20px;height:20px;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat
0 -281px;}
/*底部导航菜单*/
.bottom-nav{text-align:left;background:#fff;z-index: 666;position:absolute;top:173px;width:100%;padding:10px 0;border-bottom:1px solid #f2f2f2;}
.p-bottom-nav li{float:left;padding:0 30px;}
.bottom-nav .p-bottom-nav{width:1106px;margin:0px auto;}
.p-bottom-item a,.del1 a,.del2 a{text-align: center;margin-top:6px;height:26px;display: block;text-decoration: none;font-size:14px;color:#000;font-weight:bold;}
.p-bottom-item:hover a{border-bottom:3px solid #ac976d;color:#ac976d;box-sizing: border-box;}
.p-bottom-nav .logo1{margin:0;width:103px;height:37px;background:url(../img/header-s63686fd389-4827c33dfe.png) no-repeat 0 -388px;}
.p-bottom-nav .login1{width:130px;margin:0;}
.p-bottom-nav .login1 a{text-decoration: none;vertical-align:top;margin-top:9px;margin-right:8px;font-size:12px;color:#666;font-weight:normal;width:30px;display: inline-block;}
.p-bottom-nav .login1 .cart1{position:relative;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat -1px -312px;height:30px;}
.cart1 span{text-align:center;color:#fff;font-size:12px;line-height:20px;position: absolute;right:-5px;top:-11px;display: block;width:20px;height:20px;background:url(../img/icon-normal-s04dee2a1bf-e6389f69a7.png) no-repeat
0 -281px;}
.p-child-nav{text-align: center;padding-top:56px;display: none;width:100%;height:90px;position:absolute;left:0;top:42px;background:#fff;box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);}
.p-child-nav li{float:left;text-align: center;margin-right:70px;}
.p-child-nav li:hover a{color:#ac976d;}
.p-child-nav a{font-size:14px;color:#000;font-weight:bold;text-decoration: none;}
.p-child-nav ul{width:1070px;margin:0 auto;padding-left: 73px;overflow: hidden;}

